<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Title </title>
</head>
<body>

<h1> Create Item </h1>
    * Register Item Name
<div id = 'itemName'>
<input type="text" id="inputName" name="input name"> <br>

<select class="select" aria-label="select attributes">
    <option selected> Choose a Template </option>
    <option value="1"> Template1 should show its own attributes. </option>
    <option value="2"> Template2 should show its own attributes. </option>
    <option value="3"> Template3 should show its own attributes. </option>
</select>
</div>
<br>

<div>
<table class="table">
    <thead>
    <tr>
        <th scope="col"> ID </th>
        <th scope="col"> Name </th>
        <th scope="col"> Attribute1 </th>
        <th scope="col"> Attribute2 </th>
    </tr>
    </thead>

    <tbody id = "tbody">


    </tbody>
</table>

</div>

<div class = 'button'>
    <button type="button" class="createBtn"> Create and go further </button>
    <button type="button" class="cancelBtn"> Cancel </button>
</div>

</body>
</html>