doctype html
html
    head
        link(rel="stylesheet" href="css/loginPage.css")
        script(src = "js/index.js" defer)
    body
      h1  Lydkraft

            div space
            table
                tr
                    td
                        button(id='createProductbtn') Opret produkt
                    td
                        button(id='orderEditbtn') Opret ordre
                    td
                        button(id="logOutBtn") Log ud