doctype  html
html
  head
    title Order View
    meta(charset ="UTF-8")
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Noto+Sans:400italic,700italic,400,700")
    link(rel="stylesheet" type="text/css" href="/css/main.css")
    link(rel="stylesheet" type="text/css" href="/css/orderEdit/pageLayout.css")
    link(rel="stylesheet" type="text/css" href="/css/orderEdit/inventory.css")
    link(rel="stylesheet" type="text/css" href="/css/orderEdit/order.css")
    script(defer src="/js/orderEdit/main.js" type="module")
    script(src="/js/orderEdit/order.js" type="module")
  body
    div#pageLayout
      header#header
        Header

      main#main
        h1 Order
        div#order

      aside#sidebar

      footer#footer
        Footer