doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        //script(src = "js/createProduct.js" defer)
        title  Created Item overview

    body
        h1 The item is just created!
        ul#listItemOverView